

.garden {
    visibility: hidden;
}

.mobile-garden {
    visibility: visible;
}

.grass {
    visibility: hidden;
}

.mob-grass {
    visibility: visible;
    width: 100%;
    height: auto;
    margin-top: 0;
    margin-left: -3px;
}


.mob-html {
bottom: 0px;
width: 100px;
height: auto;
}

.mob-js {
    width: 100px;
    height: auto;  
}

.mob-css {
    width: 100px;
    height: auto;   
}

.mob-react {
    width: 100px;
    height: auto;
}

.mob-node {
    width: 100px;
height: auto;
}

.mob-sql {
    width: 100px;
height: auto;

}




@media all and (min-width: 920px) {
    ::-webkit-scrollbar {
        width: 0px;
    }

    .garden {
        visibility: visible;
        background-image: url("skill-garden/sky.svg");
        background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
        perspective: 2px;
        height: 100vh;
        overflow-x: hidden;
        overflow-y: scroll;
        padding-top: 50px;
        margin-bottom: 0px;
         /* display: flex;
        align-items: flex-end;
        justify-content: center;
        margin-top: 40px;  */
    }   

    .layer {
        /* Positioning is important for good parallax ... */
        position: absolute;
        top: 0;
        left: 100;
        right: 0;
        bottom: 0;
        padding: 0;
        /* ... and so is adding some extra space for scrolling ... */
        padding-top: 50vh;
        padding-bottom: 50vh;
      
      }

      .layer::after {
          transform: rotateZ(-1px) scale(1.5)
      }
    
    .mobile-garden {
        visibility: hidden;
        height: 0px;
    }

    .mob-grass {
        visibility: hidden;
    }

    .grass {
        visibility: visible;
        width: 100%;
        position: relative;
        margin-top: -70px;
        /* margin-left: -3px; */
    }

    .all {
        margin-top: 400px;
        /* margin-bottom: 0; */
        width: 100%;
    }


.html {
    width: 150px;
    height: auto;
    transform: translateZ(-8) scale(7);
    position: relative;

    }
    
    .js {
        width: 150px;
        height: auto;  
    transform: translateZ(0);
    position: relative;

    }
    
    .css {
        width: 150px;
        height: auto;  
    transform: translateZ(-2) scale(2);
    position: relative;
        
    }
    
    .react {
        width: 150px;
        height: auto;
    transform: translateZ(-3) scale(3);
    position: relative;
         
    }
    
    .node {
        width: 150px;
    height: auto;
    transform: translateZ(-4) scale(4);
    position: relative;

    }
    
    .sql {
        width: 150px;
    height: auto;
    transform: translateZ(-5) scale(6);
    position: relative;
    
    }

}